body {
    /*   background: #F7951D; */
    background: #fff;
    box-sizing: border-box;
  }

.login-card {
    /* height: 400px;*/
    width: 500px;
    background-color: white;
    box-shadow: 2px 4px 8px #ddd5bea7;
    padding: 20px;
    border-radius: 10px;
  }

  .logo {
    display: flex;
    justify-content: center;
  }
  
  .brandName {
    text-align: left;
    font-weight: 700;
  }
  
  .text {
    margin: 20px;
  }
  
  .brandName > h3 {
    margin: 0px;
  }

  .button-container {
    text-align: center;
  }
  