@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat-Regular'), url(../src/assets/fonts/Montserrat/static/Montserrat-Regular.ttf) format('truetype');
  }
    
  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: local('Montserrat-SemiBold'), url(../src/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf) format('truetype');
  }
    
  @font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-SemiBold'), url(../src/assets/fonts/Montserrat/static/Montserrat-Bold.ttf) format('truetype');
  }
  
    
  body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
    font-family: "Montserrat-Regular", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  